Question 1

In [1]:
mark=int(input("Enter the subject No:  "))
if mark >90:
    print("A")
elif mark >80 and mark <=90:
    print("B")
elif mark >=60 and mark <=80:
    print("C")
else:
    print("D")

Enter the subject No:   56

D

Question -2

In [2]:
def calculate_road_tax(cost_price):
    if cost_price <=50000:
        road_tax=cast_price*0.05
    elif cost_price <=100000:
        road_tax=cost_price*0.1
    else:
        road_tax=cost_cost_price*0.15
    return road_tax
cost_price=float(input("Enter the cost price of the bike (in Rs) : "))
road_tax= calculate_road_tax(cost_price)
print("The road tax to be paid is Rs ",road_tax)

Enter the cost price of the bike (in Rs) :  60000

The road tax to be paid is Rs  6000.0

Question -3

In [3]:
def display_monuments(city):
    monuments={'delhi':'Red Fort',
              'Agra':'Taj Mahal',
              'Jaipur':'Jal Mahal'}
    if city in monuments:
        print(f"The monument in {city} is {monuments[city]}")
    else:
        print("Sorry ,we don't have information about monuments in that city. ")

city =input("Enter the name of the city : ")
display_monuments(city)

Enter the name of the city :  delhi

The monument in delhi is Red Fort

Question 3

In [4]:
def times_divisible_by_3(num):
    count = 0
    while num > 10:
        num /= 3
        count += 1
    return count

# Example usage:
number = 100
result = times_divisible_by_3(number)
print("The number", number, "can be divided by 3", result, "times before it is less than or equal to 10.")

The number 100 can be divided by 3 3 times before it is less than or equal to 10.

Question -4

In [5]:
total = 0
current_number = 1
while current_number <= 100:
    total += current_number
    current_number += 1
print("The sum of numbers from 1 to 100 is:", total)

The sum of numbers from 1 to 100 is: 5050

Question - 5

In [6]:
# Pattern 1: Right Triangle Pattern
print("Pattern 1: Right Triangle Pattern")
row = 1
while row <= 5:
    col = 1
    while col <= row:
        print("*", end=" ")
        col += 1
    print()
    row += 1

# Pattern 2: Square Pattern
print("\nPattern 2: Square Pattern")
row = 1
while row <= 5:
    col = 1
    while col <= 5:
        print("*", end=" ")
        col += 1
    print()
    row += 1

# Pattern 3: Diamond Pattern
print("\nPattern 3: Diamond Pattern")
row = 1
while row <= 5:
    col = 1
    while col <= 5 - row:
        print(" ", end=" ")
        col += 1
    col = 1
    while col <= 2 * row - 1:
        print("*", end=" ")
        col += 1
    print()
    row += 1
row = 4
while row >= 1:
    col = 1
    while col <= 5 - row:
        print(" ", end=" ")
        col += 1
    col = 1
    while col <= 2 * row - 1:
        print("*", end=" ")
        col += 1
    print()
    row -= 1

Pattern 1: Right Triangle Pattern
*
* *
* * *
* * * *
* * * * *

Pattern 2: Square Pattern
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

Pattern 3: Diamond Pattern
        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

Question - 6

In [7]:
num = 10
while num >= 1:
    print(num)
    num -= 1

10
9
8
7
6
5
4
3
2
1